<div class="response_table">
  <div class="response_wrapper">
    <div class="user_info">
      <div class="user_avatar">{{ avatar }}</div>
      <div class="user_name">{{ name }}</div>
      <div class="added_date">{{ date }}</div>
    </div>
    <div class="response_info">
      <div class="response_text">{{ text }}</div>
      <div class="response_image">{{ image }}</div>
    </div>
    <div class="user_contacts">
      <div class="user_tel">{{ tel }}</div>
      <div class="user_email">{{ email }}</div>
      {% if user.hasPermission('administer nodes') %}
        <div class="response_buttons">
          <div class="response_edit">
            <a href="/aloha/page/{{id}}/edit"  class="use-ajax" data-dialog-type="modal" > {{ edit }}</a>
          </div>
          <div class="response_delete ">
            <a href="/aloha/page/{{id}}/delete"  class="use-ajax" data-dialog-type="modal" > {{ delete }}</a>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
