<div class="table_revue">
  <div class="user_info">
    <div class="user_left">
      <div class="revue_avatar">{{ avatar }}</div>
    </div>
    <div class="user_right">
      <p class="revue_name">{{ name }}</p>
      <p class="revue_email">{{ email }}</p>
      <p class="revue_phone">{{ phone }}</p>
    {% if user.hasPermission('administer nodes') %}
      <div class="admin_menu">
        <div class="user_buttons">
          <div class="revue_button revue_table_edit"><a href='/guestbook/editRevue/{{ id }}/' class="use-ajax revue_table_link" data-dialog-type="modal">Edit</a></div>
          <div class="revue_button revue_table_delete"><a href='/guestbook/deleteRevue/{{ id }}/' class="use-ajax revue_table_link" data-dialog-type="modal">Delete</a></div>
        </div>
        <p class="revue_date">{{ date }}</p>
      </div>
    {% endif %}
    </div>
  </div>
  <div class="user_content">
    <p class="textmessage">{{ textmessage }}</p>
    <div class="image_wrapper">{{ image }}</div>
  </div>

</div>
